{% extends 'layouts/default.twig' %}

{% block js %}
    <script type="text/javascript" src="/assets/js/photolist.js?4"></script>
    <script type="text/javascript">
        var app = new App({
            photoList: {{ images|json_encode|raw }},
            socialButtons: {% if socialButtons %}true{% else %}false{% endif %}
        })
    </script>
    {% if socialButtons %}
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    {% endif %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block meta %}
    <link rel="stylesheet" href="/assets/css/photolist.css" />
    <META content="{{ title }}" name=keywords>
    <META content="{{ title }}" name=description>
{% endblock %}

{% block content %}

    <a href="mailto:{{ contactEmail }}" id="email" class="icon-mail"></a>

    <div class="container">
        <div class="redline top"></div>
        <div id="photoList" {% if isMobile %}class="mobile"{% endif %}>
        </div>
        <div class="redline bottom"></div>
    </div>

    <div id="toTop" class="icon-arrow"></div>
{% endblock %}
